.button {
	padding: 6px 13px;
	border-radius: 10px;
	font-weight: 700;
	font-size: 16px;
	transition: all 0.4s;
	&__up {
		color: #ff00a1;
		background-color: #fff;
	}
	&__in {
		color: #fff;
		background-color: #ff00a1;
	}
	&:hover {
		background: transparent;
	}
}
