@use 'fonts' as *;

:root {
	--background-purple: 'linear-gradient(180deg, #9014E1 -16.76%, #100A1B 116.52%);';
	--background-pink: 'linear-gradient(180deg, rgba(202, 8, 131, 0.83) -16.76%, #100A1B 116.52%)';

	--font-primary: 'MochiyPopOne';
	--font-secondary: 'Monoton';
}
